<style>
body {
   background: rgb(2,0,36);
   background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(230,100,101,1) 0%, rgba(145,152,229,1) 100%); 
}
</style>

<h1>Welcome to BoardTodos!</h1>
<br/>
Click <%= link_to 'Todos', todos_path, class:"btn btn-primary" %> to see your todos. <br/><br/>
Click <%= link_to 'About', home_about_path, class:"btn btn-primary" %> to read more about BoardTodos. <br/><br/>

<img src="https://ny-rac.com/wp-content/uploads/2020/04/boardpackager.png" alt="BoardPackager Logo">