  <% if notice %>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <%= notice %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>

<style>
body {
   background: rgb(2,0,36);
   background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(230,100,101,1) 0%, rgba(145,152,229,1) 100%); 
}
</style>

<%= render @todo %>

<div>
  <%= link_to "Edit Todo", edit_todo_path(@todo), class:"btn btn-dark" %>
  <br/><br/>
  <%= button_to "Delete Todo", @todo, method: :delete, class: "btn btn-danger" %>
</div>
